WINUSER="{{ .win_user }}"

#
# Alias
#

### exe ###
alias em="/mnt/c/Users/$WINUSER/AppData/Local/Programs/EmEditor/EmEditor.exe"
#alias open="/mnt/c/Windows/explorer.exe"
alias wwireshark="/mnt/c/Program\ Files/Wireshark/Wireshark.exe"
alias code="/mnt/c/Users/$WINUSER/AppData/Local/Programs/Microsoft\ VS\ Code/bin/code"
alias winget="/mnt/c/Users/$WINUSER/AppData/Local/Microsoft/WindowsApps/winget.exe"
alias minikube="/mnt/c/ProgramData/chocolatey/bin/minikube.exe"

alias gocopy="/mnt/c/Users/$WINUSER/go/bin/gocopy.exe"
alias gopaste="/mnt/c/Users/$WINUSER/go/bin/gopaste.exe"
alias pbpaste="gopaste"
alias pbcopy="gocopy"
alias clip.exe="/mnt/c/Windows/System32/clip.exe"
alias bcomp="/mnt/c/Program\ Files/Beyond\ Compare\ 4/BComp.exe"
alias cmd.exe="/mnt/c/Windows/System32/cmd.exe"

#
# Function
#

function firefox() {
  [ "$#" -ne 1 ] && { echo "Usage: firefox /path/to/file"; return 1; }

  /mnt/c/Program\ Files/Mozilla\ Firefox/firefox.exe "$(wslpath -w $1)"
}

function fork() {
  [ "$#" -ne 1 ] && { echo "Usage: fork /path/to/repo"; return 1; }
  /mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe start-process "C:\Users\\$WINUSER\AppData\Local\Fork\fork.exe" "$(wslpath -w $1)"
}
