{{- $git_user := promptString "git_user" -}}
{{- $git_email := promptString "git_email" -}}

{{- $isLinux := eq .chezmoi.os "linux" }}
{{- $isWSL := and $isLinux (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{- $isMac := eq .chezmoi.os "darwin" }}
{{- $isLocal := or $isMac $isWSL }}
{{- $isWork := eq .chezmoi.username $git_user }}
{{- $isCentOS := eq .chezmoi.osRelease.id "centos" }}

{{- $win_user := "" -}}

{{- if $isWSL }}
    {{- $win_user = promptString "win_user" -}}
{{- end -}}

[data]
    isWSL = {{ $isWSL }}
    isLinux = {{ $isLinux }}
    isMac = {{ $isMac }}
    isLocal = {{ $isLocal }}
    isWork = {{ $isWork }}
    isCentOS = {{ $isCentOS }}

    git_user = "{{ $git_user }}"
    git_email = "{{ $git_email }}"

{{- if $isWSL }}
    win_user = "{{ $win_user }}"
{{- end }}
