[".fzf"]
    type = "git-repo"
    url = "https://github.com/junegunn/fzf.git"
    refreshPeriod = "168h"

[".vim/pack/chezmoi/opt/minpac"]
    type = "git-repo"
    url = "https://github.com/k-takata/minpac.git"
    refreshPeriod = "168h"
