{{- $git_user := promptString "git_user" -}}
{{- $git_email := promptString "git_email" -}}

{{- $isLinux := eq .chezmoi.os "linux" }}
{{- $isWSL := and $isLinux (.chezmoi.kernel.osrelease | lower | contains "microsoft") (ne .chezmoi.fqdnHostname .chezmoi.hostname) }}
{{- $isWin := eq .chezmoi.os "windows" }}
{{- $isMac := eq .chezmoi.os "darwin" }}
{{- $isLocal := or $isMac $isWSL }}
{{- $isGUI := or $isMac $isWin }}
{{- $isWork := eq $git_user ($git_email | splitList "@" | first) }}

{{- $win_user := "" -}}

{{- if or $isWSL $isWin }}
	{{- $win_user = promptString "win_user" -}}
{{- end -}}

[data]
	isWSL = {{ $isWSL }}
	isLinux = {{ $isLinux }}
	isMac = {{ $isMac }}
	isWork = {{ $isWork }}
	isWin = {{ $isWin }}
	isLocal = {{ $isLocal }}
	isGUI = {{ $isGUI }}

	git_user = "{{ $git_user }}"
	git_email = "{{ $git_email }}"

{{- if or $isWSL $isWin }}
	win_user = "{{ $win_user }}"
{{- end }}

[merge]
	command = "nvim"
	args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]
