{{- if .isLocal -}}
# prefixキーをC-qに変更
set -g prefix C-q
# C-q*2でC-qを送る
bind-key C-q send-prefix

# C-bのキーバインドを解除
unbind C-b

# ステータスバーの色を設定する
set-option -g status-bg "colour238"

# status line の文字色を指定する
set-option -g status-fg "colour255"

{{- else }}

set-option -g status-bg "colour12"

{{- end }}

# tmuxを256色表示できるようにする
{{- if .isMac }}
set-option -g default-terminal screen-256color
{{- else }}
set-option -g default-terminal tmux-256color
{{- end }}

set -g terminal-overrides 'xterm:colors=256'

# 2重tmuxでもクリップボードコピーできるようにする OSC52
set-option -g set-clipboard on

# vimのキーバインドでペインを移動する
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

## ペインの順次移動をCtr + o に設定
bind -n C-o select-pane -t :.+

# vimのキーバインドでペインをリサイズする
bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5

# / でペインを縦分割する
bind / split-window -hc "#{pane_current_path}"

# - でペインを縦分割する
bind - split-window -vc "#{pane_current_path}"

# カレントディレクトリ維持
bind c new-window -c "#{pane_current_path}"

## ウィンドウのインデックスを1から始める
set -g base-index 1
## ペインのインデックスを1から始める
setw -g pane-base-index 1

# マウス操作を有効にする
set-option -g mouse on
bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'copy-mode -e'"
bind-key -n WheelDownPane select-pane -t= \; send-keys -M

# Explicit `Enter` key fires copying the selection
unbind -T copy-mode MouseDragEnd1Pane
unbind -T copy-mode-vi MouseDragEnd1Pane

# コピーモードを設定する
# コピーモードでvimキーバインドを使う
setw -g mode-keys vi

# 'v' で選択を始める
bind -T copy-mode-vi v send -X begin-selection

# 'V' で行選択
bind -T copy-mode-vi V send -X select-line

# 'C-v' で矩形選択
bind -T copy-mode-vi C-v send -X rectangle-toggle

# 'y' でヤンク
bind -T copy-mode-vi y send -X copy-selection

# 'Y' で行ヤンク
bind -T copy-mode-vi Y send -X copy-line

# 'C-p'でペースト
bind-key C-p paste-buffer

set-option -g renumber-windows on
