[user]
	name = {{ .git_user }}
	email = {{ .git_email }}
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[init]
	defaultBranch = main
[alias]
	unadd = restore --staged
	a = add
	c = commit
	s = switch
	sc = switch -c
	st = status
	la = log --oneline --decorate --graph --all
	l = log --oneline --decorate --graph
	pushf = push --force-with-lease --force-if-includes
[commit]
	cleanup = scissors
	verbose = true
[branch]
	sort = -committerdate
[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
[log]
	date = iso
[rerere]
	enabled = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection
