[user]
	name = {{ .git_user }}
	email = {{ .git_email }}
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[alias]
	unadd = restore --staged
	a = add
	c = commit
	s = switch
	sc = switch -c
	st = status
	la = log --oneline --decorate --graph --all
	l = log --oneline --decorate --graph
	pushf = push --force-with-lease --force-if-includes
[commit]
	cleanup = scissors
