#!/bin/bash

set -eu

cd "$HOME"

### fzf ###
if [[ ! -e ".fzf.zsh" ]]; then
    ./.fzf/install --all --no-update-rc
fi

{{ if eq .chezmoi.os "linux" -}}

### pwndbg ###
# https://github.com/pwndbg/pwndbg
if [[ ! -e ".gdbinit.pwndbg.installed" ]]; then
    pushd pwndbg
    ./setup.sh
    popd
    touch .gdbinit.pwndbg.installed
fi

{{ end -}}
