[[ -v ZPROF ]] && zmodload zsh/zprof # profile start

# tmux autostart
if [ -n "$WT_SESSION" -a -z "$TMUX" ]; then
    [[ $TERM_PROGRAM != "vscode" ]] && tmux attach -t 0 || tmux new -s 0
fi

# Set the list of directories that Zsh searches for programs.
fpath=(
    $HOME/.asdf/completions
    $HOME/.local/lib/python3.8/site-packages/argcomplete/bash_completion.d
    $HOME/.local/share/zsh/cmd_completions
    $fpath
    $HOME/.local/share/zsh/generated_man_completions
)

# Import all zsh settings
ZSHHOME="${HOME}/.zshrc.d"

[[ -f $HOME/.asdf/asdf.sh ]] && source "$HOME/.asdf/asdf.sh"

source $ZSHHOME/path.zsh
source $ZSHHOME/zim.zsh
source $ZSHHOME/environment.zsh
source $ZSHHOME/alias.zsh
source $ZSHHOME/function.zsh
{{- if .isLinux }}
source $ZSHHOME/linux.zsh
{{- end }}
{{- if .isMac }}
source $ZSHHOME/mac.zsh
{{- end }}
{{- if .isWSL }}
source $ZSHHOME/wsl.zsh
{{- end }}
{{- if .isWork }}
source $ZSHHOME/work.zsh
{{- end }}
source $ZSHHOME/theme.zsh

# key
[[ -f $HOME/.env ]] && source $HOME/.env

[[ -v ZPROF ]] && zprof # profile end
