[[ -v ZPROF ]] && zmodload zsh/zprof # profile start

# tmux autostart
if [[ "$TERM_PROGRAM" == "WezTerm" && -z "$TMUX" ]]; then
    #tmux attach -t 0 || tmux new -s 0
    #tmux new-session -A -s 0
    #
    attach_session=$(tmux 2> /dev/null ls -F \
        '#{session_attached} #{?#{==:#{session_last_attached},},1,#{session_last_attached}} #{session_id}' |
        awk '/^0/ { if ($2 > t) { t = $2; s = $3 } }; END { if (s) printf "%s", s }')

    if [ -n "$attach_session" ]; then
       tmux attach -t "$attach_session"
    else
       tmux new
    fi
fi


# Set the list of directories that Zsh searches for programs.
fpath=(
    $HOME/.asdf/completions
    $HOME/.local/lib/python3.8/site-packages/argcomplete/bash_completion.d
    $HOME/.local/share/zsh/cmd_completions
    $fpath
    $HOME/.local/share/zsh/generated_man_completions
)

# Import all zsh settings
ZSHHOME="${HOME}/.zshrc.d"

[[ -f $HOME/.asdf/asdf.sh ]] && source "$HOME/.asdf/asdf.sh"

source $ZSHHOME/path.zsh
source $ZSHHOME/zim.zsh
source $ZSHHOME/environment.zsh
source $ZSHHOME/alias.zsh
source $ZSHHOME/function.zsh
{{- if .isLinux }}
source $ZSHHOME/linux.zsh
{{- end }}
{{- if .isMac }}
source $ZSHHOME/mac.zsh
{{- end }}
{{- if .isWSL }}
source $ZSHHOME/wsl.zsh
{{- end }}
source $ZSHHOME/theme.zsh

# key
[[ -f $HOME/.env ]] && source $HOME/.env

[[ -v ZPROF ]] && zprof # profile end
