#!/bin/bash

set -eux

cd "$HOME"

### fzf ###
if [[ ! -e ".fzf.zsh" ]]; then
    ./.fzf/install --all --no-update-rc
fi

{{- if and (.isLinux) (not .isCentOS) }}

### pwndbg ###
# https://github.com/pwndbg/pwndbg
if [[ ! -e ".installed.pwndbg" ]]; then
    pushd pwndbg
    # disable editing .gdbinit
    perl -pe 's/^(if \[ -z "\$UPDATE_MODE" \]; then)/exit 0 ; \1/' -i setup.sh

    # dnf debuginfo
    perl -pe "s/(sudo dnf -y debuginfo-install glibc)$/\1 '--disablerepo=*' '--enablerepo=baseos-debug'/" -i setup.sh
    yes | ./setup.sh
    popd
    touch .installed.pwndbg
fi

{{- end }}
